header {
  background: url('https://www.wired.com/images_blogs/wiredscience/2013/09/800px-White_Brown_Red__Wild_rice-660x495.jpg')
}

header.background-image {
  opacity: 0.6;
}

img.logo {
  height: 100px;
  width: 100px;
  padding: 10px 10px 10px 10px;
}

body {
  font-family: 'Finger Paint';font-size: 16px;
}

h1 {
  font-family: 'Finger Paint';font-size: 70px;
  text-align: center;
  padding-bottom: 0px
}

p.address {
  text-align: center;
  padding-top: 0px;
}

ul.nav li {
  display: inline-block;
  margin: 10px 50px 50px 50px;
  padding: 20px 50px 20px 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

ul.nav {
  text-align: center;
}
  ul.nav li a:link {
  color: white;
}
  ul.nav li a:visited {
  color: white;
}
