header {
  background-color: #006666;
  background.opacity: 0.6;
}


img.logo {
  height: 100px;
  width: 100px;
  padding: 10px;
}

body {
  font-family: 'Finger Paint';font-size: 16px;
}

h1 {
  font-family: 'Finger Paint';font-size: 70px;
  text-align: center;
}

ul.nav li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: black;
  color: white;
  border-radius: 100px;
}

ul.nav {
  text-align: center;
}
  ul.nav li a:link {
  color: white;
}
  ul.nav li a:visited {
  color: white;
}
